<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="survey.css"/>
</head>
<body>
  <div class="container">
    <header class="header">
      <h1 id="title" class="text-center">Sondage</h1>
      <p id="description" class="description text-center">
       Merci de bien vouloir répondre au sondage suivant
      </p>
    </header>
   
    <div class="main" id="survey-form">

      <div class="form-group">
        <div class="text-center">
          <h1>Liste des sondages</h1>
          <ul>
              <li> <a href="/survey" >Aimeriez vous faire la reunion pour le projet web ...</a><li>
              <li> <a href="/survey" >Aimeriez vous faire la reunion pour le projet web ...</a><li></li>
              <li> <a href="/survey" >Aimeriez vous faire la reunion pour le projet web ...</a><li></li>
          </ul>
      </div>
       
      </div>
  
      
  
     
    </div>
  </div>
  
</body>
</html>

